*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  background-color: #383838;
}
/*Стили для демонстрации*/

/* .wrapper {
  min-height: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.header {
  background-color: #1b1b1b;
  padding: 30px;
}
.content {
  padding: 30px;
}
h1 {
  font-size: calc(24px + 16 * (100vw / 1280));
  font-weight: 900;
}

@media (max-width: 767px) {
  h1 {
    font-size: calc(24px + (16 + 16 * 0, 7) * ((100vw - 320px) / 1280));
  }
}
h2 {
  font-size: 30px;
  font-weight: 900;
  margin: 0px 0px 20px 0px;
}
p {
  font-size: 18px;
  margin: 0px 0px 20px 0px;
}
